@model IEnumerable<ProbandoTodo.Models.FolderModels.FolderListModelView>

@if (Model.Count() > 0)
{
    foreach (var folder in Model)
    {        
        <div class="col-md-3">
            <a href="@Url.Action("NotesList", "Folder", new { folderID = folder.FolderID })" class="text-black">
                <div class="panel panel-success">
                    <div class="panel-body text-center">
                        <p><img src="~/Content/Images/folder.png" width="48" height="40" alt="folder_icon" /></p>
                        <p class="title-folder">@folder.Name</p>
                        <p class="title-folder">@folder.Details</p>
                        <p>Última modificación:</p>
                        <p>@folder.LastModified.ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))</p>
                    </div>
                </div>
            </a>
        </div>
    }
}
else
{
    <div class="well text-center">
        <h4>No tienes carpetas creadas</h4>
    </div>
}