@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2><b>¡Bienvenido a WinNotes!</b></h2>    
</div>
<hr />

@if (Session["UserLoggedIn"] != null)
{
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="~/Content/Images/folder.png" width="128" height="128" alt="carpetas" />
                <h2><b>Mis carpetas</b></h2>
                <p>Acceda a todas sus carpetas y vea que notas ha creado.</p>
                <p><a href="@Url.Action("List", "Folder")" class="btn btn-warning btn-lg">Ir a carpetas &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="~/Content/Images/notepad.png" width="128" height="128" alt="notas" />
                <h2><b>Crear notas</b></h2>
                <p>Utilice la plataforma para crear notas y recordatorios útiles.</p>
                <p><a href="@Url.Action("Create", "Note")" class="btn btn-primary btn-lg">Crear nota &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="~/Content/Images/sticky.png" width="128" height="128" alt="nueva_nota" />
                <h2><b>Mis notas</b></h2>
                <p>Visualice todas sus notas para no olvidarse de ningún evento.</p>
                <p><a href="@Url.Action("List", "Note")" class="btn btn-danger btn-lg">Ir a las notas &raquo;</a></p>
            </div>
        </div>
    </div>
    <hr />
}

<div class="row technologies">
    <div class="col-md-3 text-center">
        <img class="img-rounded" src="~/Content/Images/technologies/HTML5_logo_and_wordmark.png" width="196" height="196" alt="html5_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="html5-title">HTML5</h2>
        <p>
            HTML5[a] is a markup language used for structuring and presenting content on the World Wide Web.
            It is the fifth and current version of the HTML standard.
        </p>
        <p><a class="btn btn-default" href="https://www.w3.org/TR/html5/">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-3 text-center">
        <img class="img-rounded" src="~/Content/Images/technologies/bootstrap.svg" width="196" height="196" alt="bootstrap_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="bootstrap-title">Bootstrap</h2>
        <p>
            Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
        </p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/">Ver más &raquo;</a></p>
    </div>
</div>
<div class="row technologies">
    <div class="col-md-3">
        <img class="img-rounded" src="~/Content/Images/technologies/jq.png" width="196" height="196" alt="jquery_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="jquery-title">jQuery</h2>
        <p>
            jQuery is a fast, small, and feature-rich JavaScript library.
            It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.
        </p>
        <p><a class="btn btn-default" href="https://jquery.com/">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-3 text-center">
        <img class="img-rounded" src="~/Content/Images/technologies/Microsoft_.NET_Logo.png" width="196" height="196" alt="asp.net_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="asp-net-title">ASP.NET</h2>
        <p>
            ASP.NET is an open source web framework for building modern web apps and services with .NET.
            ASP.NET creates websites based on HTML5, CSS, and JavaScript that are simple, fast, and can scale to millions of users.
        </p>
        <p><a class="btn btn-default" href="https://www.asp.net/">Ver más &raquo;</a></p>
    </div>
</div>
<div class="row technologies">
    <div class="col-md-3">
        <img class="img-rounded" src="~/Content/Images/technologies/c_sharp.png" width="196" height="196" alt="c_sharp_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="c-sharp-title">C#</h2>
        <p>
            C# (pronounced "C sharp") is a programming language that is designed for building a variety of applications that run on the .NET Framework.
            C# is simple, powerful, type-safe, and object-oriented.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/csharp">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img class="img-rounded" src="~/Content/Images/technologies/SQL-Server-2012.png" width="196" height="196" alt="sqlserver_logo" />
    </div>
    <div class="col-md-3">
        <h2 class="sql-server-title">SQL Server</h2>
        <p>
            Microsoft SQL Server is a relational database management system developed by Microsoft.
            As a database server, it is a software product with the primary function of storing and retrieving data as requested by other software applications—which may run either on the same computer or on another computer across a network (including the Internet).
        </p>
        <p><a class="btn btn-default" href="https://www.microsoft.com/es-es/sql-server/sql-server-2016">Ver más &raquo;</a></p>
    </div>
</div>