@{
    ViewBag.Title = "500 (Error interno del servidor)";
}

<div class="col-md-12 text-center">
    <h1 class="text-danger text-uppercase">Error interno del servidor</h1>
    <br />
    <img class="img-responsive" style="margin: 0 auto;" src="~/Content/Images/internal_server_error.png" width="375" alt="internal_server_error" />
</div>