@{
    ViewBag.Title = "403 (no autorizado)";
}

<div class="col-md-12 text-center">
    <h1 class="text-danger text-uppercase">Acceso solo para usuarios registrados</h1>
    <br />
    <img class="img-responsive" style="margin: 0 auto;" src="~/Content/Images/not-authorized.png" width="600" alt="not_authorized" />
</div>