@{
    ViewBag.Title = "404 (no encontrado)";
}

<div class="col-md-12 text-center text-danger">
    <h1 class="text-uppercase">Página no encontrada</h1>
    <p><b>(@ViewBag.pathError)</b></p>
    <br />
    <img class="img-responsive" style="margin: 0 auto;" src="~/Content/Images/not_found.png" width="800" alt="not_found" />
</div>