@model ProbandoTodo.Models.ProfileManagementModels

<div class="panel panel-primary profile-section">
    <div class="panel-body form-horizontal">        
        <div class="form-group">
            <label class="col-md-3 control-label">Nombre de usuario</label>
            <div class="col-md-9">
                <label class="control-label text-default">@Model.InformationSectionModel.UserName</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
                <label class="control-label text-default">@Model.InformationSectionModel.Email</label>
            </div>
        </div>
        
        @Html.Partial("_ChangePasswordSection", Model.ChangePasswordSectionModel)

        <div class="form-group">
            <div class="col-md-9 col-md-push-3">
                <label class="control-label text-default">Registrado desde @Model.InformationSectionModel.RegistrationDate</label>
            </div>
        </div>        
    </div>
</div>
