<div id="PasswordDialog" class="row">
    <div class="col-md-6">
        <div>
            <label>Contraseña</label>
            <input type="text" />
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <input type="text" />
        </div>
    </div>
</div>