@model ProbandoTodo.Models.ProfileManagementModels.PersonalPhraseViewModel

@using (Html.BeginForm("PersonalPhrase", "User", FormMethod.Post, new { id = "PersonalPhraseForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <label class="label label-default">MENSAJE PERSONAL</label>    
    <div class="panel panel-primary profile-section phrase-box-style">
        @Html.TextAreaFor(m => m.PersonalPhrase, new { @class = "form-control personal-phrase phrase-color-effect", rows = "1", placeholder = "Escriba un mensaje personal..." })
        <div class="well-box">
            @Html.HiddenFor(m => m.PhraseColor)
            <label for="pBlack" class="color-box" title="Negro"></label><input type="radio" value="black" id="pBlack" name="pColor" />
            <label for="pRed" class="color-box" title="Rojo"></label><input type="radio" value="red" id="pRed" name="pColor" />
            <label for="pBlue" class="color-box" title="Celeste"></label><input type="radio" value="blue" id="pBlue" name="pColor" />
            <label for="pGreen" class="color-box" title="Verde"></label><input type="radio" value="green" id="pGreen" name="pColor" />
            <label class="available-chars">140</label>
            <button type="submit" class="btn btn-sm btn-default">Publicar</button>
        </div>
    </div>
}