<div id="PreviewDialog">
    <h2 class="text-center">Tu perfil se verá así:</h2>
    <div class="row">
        <div class="col-md-6">
            <div id="PreviewTheme">
                <h2 class="text-center text-uppercase">Default</h2>
                <img class="img-center img-responsive" src="" width="500" height="500" alt="preview_theme" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Avatar</h2>
                <img id="PreviewAvatar" class="img-center img-circle" src="" width="250" height="250" alt="preview_avatar" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
            <h2>Mensaje personal</h2>
            <p id="PreviewPhrase" class="wizard-phrase"></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        generatePreview();
    });
</script>